.learn {
  background-color: white;
  padding-top: 5rem;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
h1,
h3 {
  text-align: center;
}
a {
  text-decoration: none !important;
  text-align: center;
}
