.learn {
  background-color: white;
  /*padding-top: 5rem;*/
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none !important;
  text-align: center;
}
.editor {
  padding-top: 7rem;
  margin: 0 auto;
}
.card-header {
  text-align: center;
}
.accordion,
.codebox {
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}
.commented {
  color: green;
  font-style: italic;
}
