.exercises {
  background-color: white;

  width: 95%;
}
.editor-container {
  margin: 0 auto;
}
.jumbotron {
  /* background-color: #1b078f;
  background-color: #808080; */
  /* style={{color: "black", border: "5px solid white", backgroundColor: "white"}}> */
  background-color: rgb(51, 49, 49);
  color: white;
  box-shadow: 3px 3px 0.3em rgb(77, 76, 76), -1em -0.3em 0.4em rgb(61, 60, 60);
  margin-top: 100px;
}
